{% extends "base.html" %}

{% block content %}

    <nav class="my-3">
        {% if perms.artists.add_artist %}
            <a class="btn btn-outline-success" href="{% url 'artist-create' %}">+ New Artist</a>
        {% endif %}
        {% if perms.artists.add_artist %}
            <a class="btn btn-outline-warning" href="{% url 'artists-export' %}">Export Artist List as CSV</a>
        {% endif %}
    </nav>

    <div class="input-group mb-3">
        {% include 'sortablelist.html' %}
        {% include 'filterablelist.html' with objectname="Artist" %}
    </div>

    {% include "paginator.html" %}

    <div>Path: {{ request.path }}</div>
    <div>Full path: {{ request.get_full_path }}</div>
    <div>Absolute URI: {{ request.build_absolute_uri }}</div>
    <div>CA: {{ request.resolver_match.url_name }}</div>
    <div>Desired: {% url 'artists-list' %}</div>
    <div>Desired: {% url request.resolver_match.url_name %}</div>
    <div>Count: {{ objects.count }}</div>
    {% for object in objects %}
        <div class="card mb-4">
            <article class="card-body media content-section">
                <div class="w-100 m-2">
                    <h3><a href="{% url 'artist-detail' object.id %}" class="article-title">{{object.name}}</a></h3>
                    <h5>{{object.net_role}}</h5>
                </div>
            </article>
        </div>
    {% endfor %}

    {% include "paginator.html" %}

{% endblock content %}
