option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  # Where to find the manually-supplied (not collected) static files: 
  # Where the AWS proxy server direct-serves static files from (URL, disk-path)
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "django_starter_peter/static/"

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production
    DJANGO_ADMIN_URL: admin/
    DJANGO_SECURE_SSL_REDIRECT: True
