# Add django.log to the set of logs retrieved by taillogs (eb logs)
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/python/log/django.log

commands:
  01_create_log_if_needed:
    command: touch /opt/python/log/django.log

  02_set_log_permissions:
    command: chmod 666 /opt/python/log/django.log
