# From https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-singleinstance-python.html
# and https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-singleinstance.html
# Since we are a single-instance environment (no load balancer), we need to
# modify the instance's security group to allow traffic on port 443.
Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
