# pycurl (and its dependencies) are needed by Celery
# (ref https://stackoverflow.com/questions/51019622/curl-is-configured-to-use-ssl-but-we-have-not-been-able-to-determine-which-ssl/56260434#56260434)
packages:
    yum:
        libcurl-devel: []

commands:
    01_pycurl_install:
        command: "sudo /opt/python/run/venv/bin/pip3 install --global-option='--with-openssl' pycurl"
